@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fafafa;
  --background-color: #18181b;

  --scrollbar-background-color: rgb(49, 49, 49);
  --scrollbar-foreground-color: rgb(95, 95, 95);
  --scrollbar-foreground-color-hover: rgb(117, 117, 117);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}






/** Scrollbar styles **/

/* Firefox */
/* Doesn't appear to support hover colors? */
* {
  scrollbar-color: var(--scrollbar-foreground-color) var(--scrollbar-background-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground-color);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-foreground-color-hover); 
}
